.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    height: 600px;
}

.login-form {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
    margin: 5px;
    height: 80%;
}