<!DOCTYPE html>

<html lang="en">
<head>


                <!-- METADATOS -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

            <link rel="icon" href="/img/logo-mercado-liebre.svg">

            <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

            <link rel="stylesheet" href="/css/style.css">


    <title>Mercado Liebre</title>
</head>
<body>
    <header>



<!-- Logo -->
        <div class="header-logo">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>


<!-- Barra de busqueda -->
            <div class="search-bar">
                    <form class="search-form" action="/search" method="get">
                            <label for="search-label">
                                <input class="search-input" type="text" name="q" placeholder="Buscar...">
                            </label>
                        <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
            </div>


<!-- Mensaje -->            
            <div class="mensaje">
                <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>


<!-- NAV BAR -->
<!-- Menu -->        
        <nav class="nav-bar">
            <ul class="nav-bar-menu" style="list-style: none;">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>

<!-- Iniciar sesion / registrarse -->

            <ul class="nav-bar-menu" style="list-style: none;">
                <li> <a href="/register">Créa tu cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
                <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li> <a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>


<!-- Burger menu -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>


<!-- Banner -->
        <section class="banner">
            <img src="/img/img-home-banner.jpg" alt="banner">
        </section>

                        <!-- MAIN -->
    <main>
        <h3 class="pov-msg">Basado en tu última visita</h3>
        <section class="titulo">

<!-- Cafetera -->
                <article class="productos">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="articulo">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                            <div class="precio-descuento">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% off</p>
                            </div>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                </article>



<!-- Macbook -->
                <article class="productos">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% off</p>
                            </div>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
                </article>



<!-- Samsung S10 -->
                <article class="productos">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                </article>



<!-- TV Smart -->
                <article class="productos">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTv Samsung 43'</h4>
                        </div>
                </article>
        </section>



<!------------------------ MENSAJE OFERTAS ------------------------>

        <h3 class="seccion-oferta">Sección de Ofertas</h3>
        <section class="titulo">

<!------------------------ PRODUCTO 1 OFERTA ------------------------>

                <article class="productos">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="articulo">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                            <div class="precio-descuento">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% off</p>
                            </div>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                </article>



<!------------------------ PRODUCTO 2 OFERTA ------------------------>

                <article class="productos">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% off</p>
                            </div>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
                </article>



<!------------------------ PRODUCTO 3 OFERTA ------------------------>

                <article class="productos">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                </article>



<!------------------------ PRODUCTO 4 OFERTA ------------------------>

                <article class="productos">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                        <div class="articulo">
                            <div class="icon-truck">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="precio-descuento">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTv Samsung 43'</h4>
                        </div>
                </article>
        </section>
    </main>



<!------------------------ INFORMACIÓN EXTRA DE LA PAGINA ------------------------>

    <footer>
            <div class="basic-information">

<!-- Paga con tarjeta -->
                <div>
                    <div class="card-icon-fa">
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                
                    <div class="buy-cash-card">
                        <h3 class="title-extra-info">Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!<p>
                    </div>
                </div>

<!-- Envios -->
                <div>
                    <div class="shipping-icon-fa">
                        <i class="fa-solid fa-gift"></i>
                    </div>

                    <div  class="free-shipping">
                        <h3 class="title-extra-info">Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </div>

<!-- Seguridad -->
                <div>
                    <div class="security-icon-fa">
                        <i class="fa-solid fa-user-shield"></i>
                    </div>
                    
                    <div  class="main-security">
                        <h3 class="title-extra-info">Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    </div>
                </div>
            </div>

<!-- Copyright -->
            <div class="copyright-information">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>

    </footer>
</body>
</html>