<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/12a6870d66.js" crossorigin="anonymous"></script>
        <title>Bienvenidos a MercadoLiebre</title>
    </head>
    <body>
        <header>
            <!-- LOGO -->
            <section>
                <img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </section>
            <!-- BARRA DE BUSQUEDA -->
            <section>
                <p>Lugar para poner barra de búsqueda</p>
            </section>
            <!-- TEXTO COMPRA -->
            <section>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
            <!-- BARRA DE NAVEGACION -->
            <section>
                <nav>
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                    <ul>
                        <li>Creá tu cuenta<i class="fa-regular fa-id-card"></i></li>
                        <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                        <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </nav>
            </section>

            <section>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>

        </header>
        <!-- BANNER -->
        <section>
            <div>
                <img src="/img/img-home-banner.jpg" alt="Banner de ofertas">
            </div>
        </section>

        <main>
            
            <section>
                <!-- BASADO EN LA ULTIMA VISITA -->
                <section class="titulares">
                    <h3>Basado en tu última visita</h3>
                </section>

                <section> 
                    <div>
                        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                    </div>
                    <div>
                        <i class="fa-solid fa-truck stylesheet"></i>
                    </div>
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </section>

                
                <section>
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook">
                        
                    </div>
                    <div>
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </section>
                
                <section>
                    <div>
                        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy">
                    </div>
                    <div>
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripcion">Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </section>

                <section>
                    <div>
                        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung">
                    </div>
                    <div>
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </section>

                <!-- OFERTAS -->
                <section class="titulares">
                    <section>
                        <h3>Basado en tu última visita</h3>
                    </section>
    
                    <section> 
                        <div>
                            <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                        </div>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div>
                            <p>$6.770</p>
                            <p>40% off</p>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                    </section>

                    <section>
                        <div>
                            <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook">
                            
                        </div>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div>
                            <p>$230.000</p>
                            <p>20% off</p>
                            <h4>MacBook Pro 2019</h4>
                        </div>
                    </section>
                    
                    <section>
                        <div>
                            <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy">
                        </div>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div>
                            <p>$70.500</p>
                            <p>10% off</p>
                            <h4>Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </section>
    
                    <section>
                        <div>
                            <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung">
                        </div>
                        <div>
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div>
                            <p>$23.200</p>
                            <p>5% off</p>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </section>

            </section>
        </main>

        <footer>
            <section>

                <section>
                    <i class="fa-solid fa-credit-card iconos-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>

                <section>
                    <i class="fa-solid fa-gift iconos-footer"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>

                <section>
                    <i class="fa-solid fa-user-shield iconos-footer"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>

                <section>
                    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </section>

            </section>
        </footer>
    </body>
</html>