<!DOCTYPE html>

<html lang="en">
<head>



<!------------------------ METADATOS ------------------------>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

            <link rel="icon" href="/img/logo-mercado-liebre.svg">

            <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

            <link rel="stylesheet" href="/css/login.css">


    <title>Mercado Liebre</title>
</head>
<body>
    <header>



<!------------------------ LOGO ------------------------>

        <div class="header-log-bar">
            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            


<!------------------------ BARRA DE BUSQUEDA ------------------------>

            <div class="search-bar">
                    <form class="search-form" action="/search" method="get">
                            <label for="search-label">
                                <input class="search-input" type="text" name="q" placeholder="Buscar...">
                            </label>
                        <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
            </div>



<!------------------------ MENSAJE ------------------------>        
            
            <div class="menssage-card">
                <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
            

        
<!------------------------ NAV BAR ------------------------>
<!--====================== OPCIONES MENÚ EXTRA ======================-->
        
        <nav class="nav-bar">
            <ul class="interaction-nav-client" style="list-style: none;">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>

<!--====================== LOG IN / SING UP ======================-->

            <ul class="nav-bar-menu-main" style="list-style: none;">
                <li> <a href="/register">Créa tu cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
                <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li> <a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>
</header>



<!------------------------ LOG IN (inicar sesion) ------------------------>

<form action="/">
    <div class="user-form-box">
        <input type="text" name="user" id="user-form" placeholder="Nombre de usuario">
    </div>

    <div class="password-form-box">
        <input type="password" name="password" id="password-form" placeholder="Contraseña">
    </div>

    <div class="submit-button-box">
        <input type="submit" name="submit" id="submit-form">
    </div>
</form>



<!------------------------ INFORMACIÓN EXTRA DE LA PAGINA ------------------------>

<footer>
    <div class="basic-information">

<!------------------------ PAGA CON TARJETA O EFECTIVO ------------------------>

        <div>
            <div class="card-icon-fa">
                <i class="fa-solid fa-credit-card"></i>
            </div>
        
            <div class="buy-cash-card">
                <h3 class="title-extra-info">Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!<p>
            </div>
        </div>



<!------------------------ ENVIOS GRATIS ------------------------>

        <div>
            <div class="shipping-icon-fa">
                <i class="fa-solid fa-gift"></i>
            </div>

            <div  class="free-shipping">
                <h3 class="title-extra-info">Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </div>



<!------------------------ SEGURIDAD ------------------------>

        <div>
            <div class="security-icon-fa">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            
            <div  class="main-security">
                <h3 class="title-extra-info">Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
    </div>



<!------------------------ COPYRIGHT ------------------------>

    <div class="copyright-information">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>

</footer>
</body>
</html>